{% extends 'base.html' %}

{% block head %} 
<title>Homepage</title>
{% endblock %}



{% block body %} 
<br>
<h1 class="display-4">Hello, Fellas!</h1>

<div class="jumbotron">
    <h3 class="display-4">Welcome</h3>
    <p class="lead">Welcome to BlogPost! Here we'll be talking about everything. Basics, frameworks, machine learning, other data science stuff, any new tech or findings, and pretty much anything related to computer science.</p>
    <hr class="my-4" />
    <p>Go check out our blogs...</p>
    <p class="lead">
      <a class="btn btn-dark btn-lg" href="/posts" role="button">Posts>></a>
    </p>
  </div>
{% endblock %}
